
.mySplashPage {
    text-align: center;
    display: flex;
    justify-content: center;
}

.box {

    /*Horizontal Align*/
    text-align:center;
    width:450px;
    border-style: solid;
    border-width: 2px;

    /*Vertical Align*/
    margin-top: 150px;

    padding-bottom:25px;
    border-radius: 15px;
}

.btn {
    background-color:dodgerblue;
    border-radius: 50px;
    font-size: 20pt;
    color:floralwhite;
    min-width:50%;
    
}